HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

idea/
out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


/src/main/resources/application.properties
/.azure/

SpringBoot - Java/src/main/resources/chat-5568f-firebase-adminsdk-unsxe-21134a8356.json
SpringBoot - Java/src/main/resources/naregua-upload-firebase-adminsdk-9hly7-454496d7de.json
SpringBoot - Java/src/main/resources/upload-comunidade-firebase-adminsdk-sxo3w-56c4ed2507.json
SpringBoot - Java/src/main/resources/upload-galeria-firebase-adminsdk-d6ewd-34985e2190.json
SpringBoot - Java/src/main/resources/upload-usuarios-firebase-adminsdk-6r1vz-cfc61531f3.json