HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

idea/
/out/artifacts/projetopi_jar/projetopi.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


/src/main/resources/application.properties
/.azure/

C:\GitHub\backend\SpringBoot - Java\src\main\resources\chat-5568f-firebase-adminsdk-unsxe-8a450dcc9a.json
C:\GitHub\backend\SpringBoot - Java\src\main\resources\naregua-upload-firebase-adminsdk-9hly7-6fe030a9b8.json
C:\GitHub\backend\SpringBoot - Java\src\main\resources\upload-comunidade-firebase-adminsdk-sxo3w-de42cb0bae.json
C:\GitHub\backend\SpringBoot - Java\src\main\resources\upload-galeria-firebase-adminsdk-d6ewd-1312a87bcb.json
C:\GitHub\backend\SpringBoot - Java\src\main\resources\upload-usuarios-firebase-adminsdk-6r1vz-565bdbf21c.json